/* Add custom CSS styles here */

body {
  font-family: Arial, sans-serif;
}

.code_format {
  background-color: #F0F0F0;
  border: 1.5px solid black;
  font-size: 15px;
}

.output_format {
  background-color: white;
  border: 1.5px solid white;
  font-size: 15px;
  font-style: italic;
  font-weight: normal;
}